
/*         Search bar div */

#search-bar-container {
    display: grid;
    grid-template: 1fr / 1fr 12fr;

    /* Styling */
    height: fit-content;
    justify-items: start;
}

/* Styling */

#search-bar-container button{
    color: var(--dark-text);
    background-color: inherit;;
    border: none;
}

#search-bar {
    width: 100%;
    height: 3em;
    border-radius: 20px;
    background-color: var(--gray-background);
    border: none;
}

.fa-solid {
    /* fixes default display for the "i" element */
    display: inline !important;
    font-size: 1.5em;
}

/*         User display div */

#user-display {
    display: grid;
    grid-template: 1fr / 1fr 1fr 2fr;
    align-items: center;
    justify-self: end;
    
    /* Styling */
    gap: 30px;
}

/* Styling */

#bell {
    font-size: 1.5em;
    width: fit-content;
    justify-self: end;
}

#cat-logo-small {
    height: var(--logo-small);
}

#user-display .user-name {
    width: fit-content;
}

/*         Hi there user div */

#hi-there-user {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;

    /* Styling */
    height: fit-content;
    width: fit-content;
}

#text-box {
    display: grid;
    grid-template-columns: 1fr 1fr / 1fr;

    /* Styling */
    height: fit-content;
    font-weight: bold;
}

/* Styling */

#cat-logo-big {
    height: var(--logo-big);
}

.user-name {
    text-align: center;
    width: fit-content;
}

#text-box p {
    font-size: 0.8em;
}

#text-box h3 {
    font-size: 1.4em;
    font-weight: 500;
}

/*         Nav bar div */

#nav-bar {
    justify-self: end;
}

#nav-bar ul {
    display: grid;
    grid-template: 1fr / repeat(3, auto);
    gap: 30px;
    justify-content: space-between;
}

/* Styling */

#nav-bar li {
    list-style: none;
    width: fit-content;
    background-color: var(--blue-background);
    width: 5.5em;
    padding: 0.8em;
    border-radius: 30px;
    text-align: center;
    color: var(--white-text);
    font-size: var(--h4-font-size);
}